@model UserViewModel
@{
    ViewBag.Title = "User - Stats";
}

<ul>
    <li>Name: @Model.FirstName @Model.LastName</li>
    <li>Age: @Model.Age</li>
    <li>Average Free Time: @Model.AverageFreeTime</li>
</ul>
